.mySelectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    background-color: rgb(216, 216, 216);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 
        opacity 0.1s ease,
    ;

    &--visible {
        opacity: 0;
    }
}

.mySelect {
    width: 100%;
}

.mySelectLabel {
    padding: 10px;
    font-size: 20px;
    color: rgb(82, 82, 82);
}