.navbar {
    width: 100%;
    background-color: pink;

    &--hidden {
        display: none;
    }
}

.navbarList {
    display: flex;
    justify-content: center;
    gap: 2px;
    width: 100%;
    list-style: none;
}