// .productList {
//     padding: 30px;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     gap: 25px;
//     width: 100%;
// }

.productList {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
    width: 100%;
    // background-color: red;
}



