@import "../../App.scss";

@mixin fontGradient ($firstColor, $secondColor){
    background: linear-gradient(to right, $firstColor, $secondColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    margin-top: $panelHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: pink;

    &__label {
        font-size: 90px;
        @include fontGradient(rgb(160, 32, 111), $secAccentColor )
    }

    &__icon {
        font-size: 70px;
        color: rgb(75, 75, 75);
        @include fontGradient(red, blue )
    }
}