//VARIABLES

//Calc
$panelHeight: 70px;
$maxWidthForApp: 1280px;

$mobileRange: 770px;
$panelHeight : 70px;
$headerHeight : 370px;
$maxWidthForApp : 1280px;
$RouteHeight : 500px;

//Colors
$accentColor: pink;
$secAccentColor:  rgb(23, 142, 158);
$mainColor :  rgb(233, 233, 233);
$activeNavLinkColor :  rgb(49, 49, 49);

.app {
    position: relative;
    width: 100%;
    max-width: $maxWidthForApp;
    min-width: 360px;
    background-color: red;
}

